<div class="banner-box">
  <div class="banner-box-content">
    <div id="content">
      <h2>Got Book?</h2>
      <%= link_to 'Shop now', "#" %>
    </div>
  </div>
</div>
<section id="featured-products" class="products">
  <h2>
    Featured Books
  </h2>
</section>
