/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */




 @import "font-awesome";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.nav {
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 10px;


}



.cart {
  align-self: center;
}

.fa-cart-plus {
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.nav h1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 140%;
  align-self: center;
}


#hamburger {
  align-self: center;
  cursor: pointer;

}
#hamburger div {
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  background-color: black;

}

#hamburger div:last-of-type {
  margin-bottom: 0;
}


.links {
  display: none;
  position: relative;
  z-index: 100;
}
.show {
  display: block;
}

.nav-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.nav-links a {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  width: 90%;
  margin: 0 auto;
  padding-top: .8rem;
  padding-bottom: .8rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .8rem;
  color: #444;
  transform: color .2s;
}

.nav-links a:hover {
  color: #777;
}



#genre {

  display: inline-block;
  width: 90%;
  margin: 0 auto;
}

.fa-caret-down{
  margin-left: 2px;
}
.categories {
  position: relative;
  display: none;
}

.categories ul {
  position: absolute;
  list-style-type: none;
  background-color: white;
  padding: 0 2rem;
  width: 100%;

}



.show-ul {
  display: block;
}

.categories-list li a {
  background-color: white;
}
.categories-list li a {
  margin-left: 1rem;
  border-bottom: none;
}

// Banner Styles
.banner-box {

  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('reading-bg.jpg');
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;

  display: flex;
  align-items: center;
}

.banner-box-content {
  margin-left: 2rem;
}

.banner-box-content h2,
.products h2 {
  font-size: 4rem;
  color: white;
  letter-spacing: .2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

#content a:link,
#content a:visited {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5%;
  transform: background-color .5s, color .5s;
}
#content a:hover {
  background-color: white;
  color: black;
}

// Product Styles
.products h2 {
  color: black;
  text-transform: titlecase;
  letter-spacing: .1rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 2.5rem 0;
  font-weight: 400;
}





@media (min-width: 1025px) {





  nav {
   padding: 0;
  }
  .links {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav h1 {
    font-size: 5rem;
    align-self: center;
    font-weight: 700;
  }

  .nav-links {
    height: auto;
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .nav-links a {
    padding-left: 20px;
    border-bottom: none;
    align-content: center;
  }

  .nav-links a:last-of-type {
    display: flex;
  }

  .categories ul {
    padding: 0;
    top: 20px;
    left: -100px;
    width: 100%;

  }

  .categories-list li {
    background-color: white;
  }

  .categories-list li a {
    padding-right: 8rem;
  }





  #hamburger {
    display: none;
  }

  .cart {
    display: none;
  }


}
