<nav>
  <div class="nav">
    <div class="cart">
      <a href="#"><i class="fas fa-cart-plus"></i></a>
    </div>
    <h1>book.</h1>
    <div id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="nav-links" class="links">
    <div class="nav-links">
      <%= link_to 'Shop' %>
      <%= link_to "Contact" %>
      <span id="genre">
      <%= link_to   do %>
        <span>Genre</span><i class="fa fa-caret-down" aria-hidden="true"></i>


      <% end %>
      </span>
       <div class="categories" id="category" >
        <ul class="categories-list"  >
          <% @categories.each do |category| %>
            <li><%= link_to category.title %></li>
          <% end %>
        </ul>
       </div>



    </div>
  </div>
</nav>


