<nav>
  <div class="nav">
    <div class="cart">
      <a href="#"><i class="fas fa-cart-plus"></i></a>
    </div>
    <h1>book.</h1>
    <div id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div id="nav-links" class="links">
    <div class="nav-links">
      <%= link_to 'Shop' %>
      <%= link_to "Contact" %>
    </div>
  </div>
</nav>


